body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    
    margin: auto;
    
    max-width: 800px;

    background: rgb(40, 50, 70);;
}

#heading, #results {
    text-align: center;
    background: rgb(40, 50, 70);
    color: rgb(239, 253, 252);
    font-weight: bold;
    padding: 10px;
}

#heading {
    font-size: 1.5em;
}

.buttons, #scores {
    background: rgb(102, 131, 150);
}

#player, #computer {
    color: rgb(0, 20, 30);
    background:rgb(208, 252, 247);
    margin: 10px;
}

#round {
    color: orange;
    font-size: 1.5em;
}

#player-selection, 
#computer-selection, 
#player-score, 
#computer-score {
    color: orangered;
}

#player-score, 
#computer-score {
    font-size: 2em;
}

.buttons {
    display: flex;
    justify-content:space-around;
    padding: 2% 5%;
}

#game-result {
    color: orange;
}

.button {
    background: orange;
    color: rgb(9, 48, 44);
    font-size: 1.25em;
    font-weight: bold;
    flex-grow: 1;
    width: 30%;
    min-width: 130px;
    max-width: 200px;
    
    margin: 10px;
    padding-top: 5%;
    padding-bottom: 5%;

    border-color:rgb(40, 50, 70);
    border-width: 3px;
    border-radius: 8px;
}

#results {
    min-height: 200px;
    padding: 10px;
    font-size: 1.2em;
}

#game-result {
    font-size: 2em;
    font-weight: bold;
}

#scores {
    display: flex;
    justify-content: space-around;
   
    padding: 1%;
}

#player, #computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: 150px;
    max-width: 300px;
    font-size: 2em;
    font-weight: bold;
    border: rgb(61, 60, 90) 5px solid;
    border-radius: 10px;
    padding: 1%;
}

#winner {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0;
}

#description {
    color:rgb(255, 183, 157);
    font-size: 1em;
    font-weight: 100;
}