body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    
    margin: auto;
    
    max-width: 800px;

    background: rgb(20, 30, 50);;
}

#heading, #results, #result-box {
    text-align: center;
    background: rgb(40, 50, 70);
    color: rgb(239, 253, 252);
    font-weight: bold;
    padding: 8px;
}

#heading h1 {
    font-size: 2em;
    border: orange 1px solid;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}

.buttons, #scores {
    background: rgb(102, 131, 150);
}

#player, #computer {
    color: rgb(0, 20, 30);
    background:rgb(208, 252, 247);
    margin: 8px;
}

#round {
    color: orange;
    font-size: 1.25em;
}

#player-selection, 
#computer-selection, 
#player-score, 
#computer-score {
    color: orangered;
    font-size: 2em;
    font-weight: bold;
}

#player-selection, 
#computer-selection {
    margin: 8px 0;
}

#player-score, 
#computer-score {
    font-size: 5em;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2% 5%;
}

.button {
    background: orange;
    color: rgb(9, 48, 44);
    font-size: 1em;
    font-weight: bold;
    flex-grow: 1;
    width: 25%;
    min-width: 100px;
    max-width: 200px;
    
    margin: 8px;
    padding: 10% 0;
    
    border-color:rgb(40, 50, 70);
    border-width: 3px;
    border-radius: 8px;
}

#results {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    padding: 10px;
    margin: 18px;
    font-size: 1em;
    border: orange 1px solid;
    border-radius: 8px;
}

#round-result {
    background: rgb(50, 60, 80);
    border-radius: 10px;
    padding: 10px;
}

#game-over {
    color: orange;
    font-size: 2em;
    font-weight: bold;
    margin: 8px;
}

#game-result {
    font-size: 1em;
    font-weight: bold;
    margin: 10px;
}

#scores {
    display: flex;
    justify-content: space-around;  
    padding: 1%;
    font-weight: bold;
}

#player, #computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: 165px;
    max-width: 300px;
    border: rgb(61, 60, 90) 5px solid;
    border-radius: 10px;
    padding: 3%;
}

#winner {
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

#description {
    color:orange;
    font-size: 1em;
    font-weight: 100;
    margin: 0;
}